body {
  margin: 0;
  transition: filter 0.3s ease;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: white;
  z-index: 1000;
}

.Logo {
  max-height: 100%;
}

.Banner {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.BannerMeio {
  width: 100%;
  height: auto;
  margin-top: -10px;
}

.opHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.opHeader h5 {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

.opHeader .contato {
  background-color: #27ae60;
}

.opHeader .plano {
  background-color: #27ae60;
}

.FormContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.body.blur-background {
  filter: blur(5px);
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 999;
  display: none;
}

.blur-overlay.active {
  display: block;
  z-index: 1000;
}

.FormTitle {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.FormField {
  margin-bottom: 15px;
}

.FormField label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.FormField input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.FAQSectionblur-text {
  filter: blur(5px);
  background-color: #f9f9f9; /* Cor de fundo da seção FAQ */
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  backdrop-filter: blur(10px);
  
}

.SubmitButton {
  display: block;
  margin: 0 auto;
  background-color: #e65100;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.SubmitButton:hover {
  background-color: #ff6f00; /* Cor de destaque ao passar o mouse */
}

.Banner.blur-background {
  filter: blur(5px);
}

.BenefitsTitle {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px 0;
  color: #e65100;
  font-size: 2em;
  margin-top: 100px;
  font-family: 'Nunito', sans-serif;
}

.beneficioscompleto {
  margin-top: 200px;
  margin-bottom: 50px;
}

/* Adicione um background agradável para a área dos benefícios */
.BenefitsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  backdrop-filter: blur(10px);
}

/* Ajuste o estilo da descrição dos benefícios */


.BenefitCard {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(50px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  opacity: 1;
}

.BenefitCard .in-view {
  opacity: 1;
  transform: translateY(0);
}

.BenefitCard .CardIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.BenefitCard .CardTitle {
  color: #e65100;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.BenefitCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.BenefitsContainer.blur-background {
  backdrop-filter: blur(5px);
}

.BenefitCard.blur-background {
  backdrop-filter: blur(5px);
}

.beneficioscompletoblur-text {
  filter: blur(5px);
  margin-top: 200px;
}

.CardContent0 {
  margin-top: 100px;
}

.CloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: #e65100;
}

.descricao0 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Nunito', sans-serif;
}

.descricao1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Nunito', sans-serif;
}

.descricao2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Nunito', sans-serif;
}

.descricao3 {
  font-family: 'Nunito', sans-serif;
}

.BenefitsTitle.blur-text {
  filter: blur(5px);
}

.BenefitsTitle::after {
  display: block;
  margin: 20px 0;
  color: #333;
  font-size: 1.2em;
}

.VideoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #cccccc2c;
  padding: 30px;
}

.Videodescricao {
  color: #333;
}

.VideoSectionblur-text {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  filter: blur(5px)
}

.VideoSection iframe.blur-video {
  filter: blur(5px);
}

.VideoTitleContainer {
  margin-left: 50px;
}

.VideoTitle {
  color: #e65100;
  font-family: 'Nunito', sans-serif;
}

.VideoTitleblur-text {
  color: #e65100;

}

.PlanCard {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  opacity: 0;
}

.PlanCard.in-view {
  opacity: 1;
  transform: translateY(0);
}

.plano a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Mantém a cor padrão do texto */
}

/* Estilo para o link "Planos" quando estiver em :visited */
.plano a:visited {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Mantém a cor padrão do texto */
}

.CardTitle {
  color: #e65100;
  font-weight: bold;
  font-size: 1.5em; /* Tamanho da fonte do título */
  margin: 10px 0; /* Espaçamento entre o título e o conteúdo */
  font-family: 'Nunito', sans-serif;
}

.PlanPrice {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em; /* Tamanho da fonte do preço */
  margin-bottom: 15px; /* Espaçamento entre o preço e o conteúdo */
}

.planodescricao0,
.planodescricao1,
.planodescricao2,
.planodescricao3 {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 15px; /* Espaçamento entre os benefícios e o conteúdo */
}

.PlanCard:hover {
  transform: scale(1.05); /* Aumenta o tamanho em 5% */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.subtitlePlan {
  font-family: 'Nunito', sans-serif;
  color: #e65100;
  margin-top: 10px; /* Espaçamento acima dos benefícios */
}

.SuccessMessage {
  text-align: center;
  margin-top: 20px;
  color: #27ae60;
  font-weight: bold;
  font-size: 1.2em;
}

.ButtonSpecialist {
  background-color: #e65100;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px; /* Espaçamento acima do botão */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Nunito', sans-serif;
}

.ButtonSpecialist:hover {
  background-color: #ff6f00; /* Cor de destaque ao passar o mouse */
}

.ButtonSpecialistblur-text{
  background-color: #e65100;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px; /* Espaçamento acima do botão */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Nunito', sans-serif;
}

.PlansContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Ajuste conforme necessário */
}

.PlansContainerblur-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Ajuste conforme necessário */
  filter: blur(5px);
}

.PlanCard {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(50px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  opacity: 0;
}

.PlanCard.in-view {
  opacity: 1;
  transform: translateY(0);
}

.CardTitle {
  color: #e65100;
}

.PlanPrice {
  font-family: 'Nunito', sans-serif;
}

.planodescricao0 {
  font-family: 'Nunito', sans-serif;
}

.planodescricao1 {
  font-family: 'Nunito', sans-serif;
}

.planodescricao2 {
  font-family: 'Nunito', sans-serif;
}

.planodescricao3 {
  font-family: 'Nunito', sans-serif;
}

.subtitlePlan {
    font-family: 'Nunito', sans-serif;
    color: #e65100;
}

.buttonNumberOneContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 200px;
  margin-bottom: 250px;
}

.planosContainer {
  margin-top: 200px;
}

.planosContainerblur-text {
  filter: blur(5px);
}

.buttonNumberOne {
  display: inline-block;
  height: 50px;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background-color: #e65100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Nunito', sans-serif;
  margin-top: 10px;
}

.buttonNumberOneblur-text {
  display: inline-block;
  height: 50px;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background-color: #e65100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  filter: blur(5px);
}

.buttonNumberOne:hover {
  background-color: darkorange;
}

.fotoHomem{
  max-width: 600px;
  height: auto;
}

.fotoHomemblur-text {
 width: 600px;
 filter: blur(5px); 
}

.textoBotao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.textoCopy {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.textoDaCopy{
  margin-bottom: 30px;
  font-family: 'Nunito', sans-serif;
  max-width: 400px;
}

.textoDaCopyblur-text{
  margin-bottom: 30px;
  filter: blur(5px);
}

.segundoTitle {
  margin-top: -20px;
  color: #e65100;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.primeiroTitle {
  color: #e65100;
  font-family: 'Nunito', sans-serif;
}

.primeiroTitleblur-text {
  filter: blur(5px);
  color: #e65100;
}

.segundoTitleblur-text {
  filter: blur(5px);
  margin-top: -20px;
  color: #e65100;
}

.botaoVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.Rodape {
  background-color: #33333398; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto */
  text-align: center; /* Centralizar o texto */
  margin-top: 50px;
  padding: 10px;
  font-size: 12px;
}

.Rodapeblur-text {
  filter: blur(5px);
  background-color: #33333398; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto */
  text-align: center; /* Centralizar o texto */
  margin-top: 50px;
  padding: 10px;
  font-size: 12px;
}

.Rodape p {
  margin: 0; /* Remova a margem padrão para evitar espaço em branco extra */
}

.FAQSection {
  background-color: #f9f9f9; /* Cor de fundo da seção FAQ */
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  backdrop-filter: blur(10px);
}

.FAQTitle {
  font-family: 'Arial', sans-serif;
  color: #e65100;
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
}

.FAQContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.FAQCard {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(50px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  opacity: 0;
}

.FAQCard .in-view {
  opacity: 1;
  transform: translateY(0);
}

.FAQCard .Question {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  color: #e65100;
}

.FAQCard .Answer {
  font-family: 'Nunito', sans-serif;
  margin-top: 10px;
}

.FAQCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.FAQQuestion {
  display: flex; /* Adicione um display flex para alinhar ícone e texto lado a lado */
  justify-content: center;
  align-items: center; /* Alinha verticalmente o ícone e o texto ao centro */
  border-radius: 5px; /* Borda arredondada */
  padding: 10px; /* Espaçamento interno */
  cursor: pointer; /* Transforma o cursor em uma mãozinha para indicar que é clicável */
  margin-bottom: 10px; /* Espaçamento entre as perguntas */
  transition: all 0.3s; /* Adiciona uma transição suave para a animação */
}

.QuestionToggle {
  cursor: pointer;
  color: #e65100;
}

.FAQQuestionText {
  margin: 0; /* Remova as margens padrão do h3 */
  margin-right: 10px;
  color: #524848;
  min-width: 400px;
}

.FAQAnswer {
  max-height: 0;
  overflow: hidden;
  max-width: 400px;
  margin-left: 20px;
  transition: max-height 2.0s ease-in-out; /* Define a transição */
}

.FAQAnswer.open {
  max-height: 500px; /* Ajuste o valor máximo de altura conforme necessário para corresponder ao seu conteúdo */
  max-width: 400px;
  margin-left: 20px;
}

.FAQItem {
  margin-right: 0px;
  margin-bottom: 20px;
  max-width: 435px;
  border: 1px solid #e65100; /* Cor da borda das margens */
  border-radius: 15px;
}

.FAQItem.open .FAQAnswer {
  display: block;
}

.OpenFormButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 600px) {

  .BotaoVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* ou o valor desejado para ajustar a distância do vídeo */
  }

  .VideoTitleContainer {
    margin-left: 0; /* ou o valor desejado para centralizar */
    margin-top: 20px; /* ou o valor desejado para afastar do vídeo */
    text-align: center; /* para centralizar o texto no mobile */
  }

  .opHeader .plano {
    margin-left: 20px;
  }

  .opHeader h5 {
    margin: 10px 0;
  }

  .FAQSection {
    padding: 20px;
  }

  .FAQTitle {
    font-size: 1.5em;
  }

  .FormContainer {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .FormTitle {
    text-align: center;
    margin-bottom: 20px;
    color: #3498db; /* Cor do título do formulário */
  }

  .FormField {
    margin-bottom: 20px;
  }
  
  .FormField label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .FormField input[type="text"],
  .FormField input[type="email"],
  .FormField input[type="tel"],
  .FormField textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    transition: border-color 0.3s ease;
  }
  
  .FormField input[type="text"]:focus,
  .FormField input[type="email"]:focus,
  .FormField input[type="tel"]:focus,
  .FormField textarea:focus {
    border-color: #e65100;
  }

.BenefitCard,
.PlanCard {
  max-width: 100%;
  margin: 10px 0;
}

  .FormField input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
  }
  
  .VideoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .VideoSection.slide-in {
    opacity: 1;
    transform: translateY(0);
  }

  .buttonNumberOneContainer {
    display: flex;
    max-width: 100%; /* Ajuste a largura máxima conforme necessário */
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 250px;
  }

  .fotoHomem {
    display: none;
  }

  .PlansContainer {
    flex-direction: column;
    align-items: center;
  }

  .PlanCard {
    max-width: 100%;
  }

  .BenefitsContainer {
    flex-direction: column;
    align-items: center;
  }

  .BenefitCard {
    max-width: 100%;
  }

  .MobileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .textoBotao {
    text-align: left; /* Alinha o texto à esquerda */
    margin-bottom: 20px; /* Espaço entre o texto e o botão */
  }

  .textoBotao .textoCopy {
    text-align: left; /* Alinha o texto à esquerda */
    margin-left: 100px;
  }

  .buttonNumberOne {
    margin-top: 20px; /* Espaço entre o texto e o botão */
    width: 300px;
  }

  .primeiroBotao {
    margin-left: 100px;
  }

  .primeiroTitle {
    margin-top: 200px;
  }
}