body {
  margin: 0;
  transition: filter 0.3s ease;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: white;
  z-index: 1000;
}

.Logo {
  max-height: 100%;
}

.Banner {
  width: 100%;
  margin-top: 60px;
}

.opHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.opHeader h5 {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

.opHeader .contato {
  background-color: #27ae60;
}

.opHeader .plano {
  background-color: #27ae60;
}

.FormContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.body.blur-background {
  filter: blur(5px);
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 999;
  display: none;
}

.blur-overlay.active {
  display: block;
  z-index: 1000;
}

.FormTitle {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.FormField {
  margin-bottom: 15px;
}

.FormField label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.FormField input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.SubmitButton {
  display: block;
  margin: 0 auto;
  background-color: #27ae60;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.SubmitButton:hover {
  background-color: #218c4b;
}

.Banner.blur-background {
  filter: blur(5px);
}

.BenefitsTitle {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px 0;
  color: #e65100;
  font-size: 2em;
  margin-top: 100px;
}

.beneficioscompleto {
  margin-top: 200px;
}

/* Adicione um background agradável para a área dos benefícios */
.BenefitsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  backdrop-filter: blur(10px);
}

/* Ajuste o estilo da descrição dos benefícios */
.BenefitCard .CardContent {
  color: #555;
}

.BenefitCard {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(50px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  opacity: 1;
}

.BenefitCard .in-view {
  opacity: 1;
  transform: translateY(0);
}

.BenefitCard .CardIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.BenefitCard .CardTitle {
  color: #e65100;
  margin: 0;
}

.BenefitCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.BenefitsContainer.blur-background {
  backdrop-filter: blur(5px);
}

.BenefitCard.blur-background {
  backdrop-filter: blur(5px);
}

.beneficioscompletoblur-text {
  filter: blur(5px);
  margin-top: 200px;
}

.CardContent0 {
  margin-top: 100px;
}

.CloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.descricao0 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.descricao1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.descricao2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.BenefitsTitle.blur-text {
  filter: blur(5px);
}

/* Novo estilo para o texto */
.BenefitsTitle::after {
  display: block;
  margin: 20px 0;
  color: #333;
  font-size: 1.2em;
}

.VideoSection {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.VideoSectionblur-text {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  filter: blur(5px)
}

.VideoSection iframe.blur-video {
  filter: blur(5px);
}

.VideoTitleContainer {
  margin-left: 50px;
}

.VideoTitle {
  color: #e65100;
}

.VideoTitleblur-text {
  color: #e65100;

}

.PlansContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Ajuste conforme necessário */
}

.PlansContainerblur-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Ajuste conforme necessário */
  filter: blur(5px);
}

.PlanCard {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(50px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  opacity: 0;
}

.PlanCard.in-view {
  opacity: 1;
  transform: translateY(0);
}

.CardTitle {
  color: #e65100;
}

.buttonNumberOneContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.buttonNumberOne {
  display: inline-block;
  padding: 15px 25px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.buttonNumberOneblur-text {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  filter: blur(5px);
}

.buttonNumberOne:hover {
  background-color: darkorange;
}

.fotoHomem{
  width: 600px;
}

.fotoHomemblur-text {
 width: 600px;
 filter: blur(5px); 
}

.textoBotao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.textoCopy {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.textoDaCopy{
  margin-bottom: 30px;
}

.textoDaCopyblur-text{
  margin-bottom: 30px;
  filter: blur(5px);
}

.segundoTitle {
  margin-top: -20px;
  color: #e65100;
}

.primeiroTitle {
  color: #e65100;
}

.primeiroTitleblur-text {
  filter: blur(5px);
  color: #e65100;
}

.segundoTitleblur-text {
  filter: blur(5px);
  margin-top: -20px;
  color: #e65100;
}



@media (max-width: 600px) {
  .opHeader .plano {
    margin-left: 20px;
  }

  .opHeader h5 {
    margin: 10px 0;
  }

  .FormContainer {
    max-width: 100%;
    padding: 20px;
  }

  .FormTitle {
    font-size: 1.5em;
  }

  .FormField label {
    font-size: 0.9em;
  }

  .FormField input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
  }
  
  .VideoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }
}