body {
  margin: 0;
  transition: filter 0.3s ease;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: white;
  z-index: 1000;
}

.Logo {
  max-height: 100%;
}

.Banner {
  width: 100%;
  margin-top: 60px;
}

.opHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.opHeader h5 {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

.opHeader .contato {
  background-color: #27ae60;
}

.opHeader .plano {
  background-color: #27ae60;
}

.FormContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.body.blur-background {
  filter: blur(5px);
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 999;
  display: none;
}

.blur-overlay.active {
  display: block;
  z-index: 1000;
}

.FormTitle {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.FormField {
  margin-bottom: 15px;
}

.FormField label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.FormField input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.SubmitButton {
  display: block;
  margin: 0 auto;
  background-color: #27ae60;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.SubmitButton:hover {
  background-color: #218c4b;
}

.Banner.blur-background {
  filter: blur(5px);
}

.BenefitsTitle {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px 0;
  color: #e65100;
  font-size: 2em;
  margin-top: 100px;
}

.BenefitsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
}

.BenefitCard {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.BenefitCard .CardIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.BenefitCard .CardTitle {
  color: #e65100;
  margin: 0;
}

.BenefitCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.BenefitCard .CardContent {
  color: #333;
}

.BenefitsContainer.blur-background {
  filter: blur(5px);
}

.BenefitCard.blur-background {
  filter: blur(5px);
}

.CardContent0 {
  margin-top: 100px;
}

.descricao0 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.descricao1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.descricao2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.BenefitsTitle.blur-text {
  filter: blur(5px);
}

@media (max-width: 600px) {
  
  .opHeader .plano {
    margin-left: 20px;
  }

  .opHeader h5 {
    margin: 10px 0;
  }

  .FormContainer {
    max-width: 100%;
    padding: 20px;
  }

  .FormTitle {
    font-size: 1.5em;
  }

  .FormField label {
    font-size: 0.9em;
  }

  .FormField input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
  }
}